extends ../_includes/_layout

//- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

block append variables
    - var pageTitle = "メニュー背景管理 - 鬼マネージャー";
    - var pageCode = "menuBackgrounds";

//- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

block append css
    link(rel='stylesheet', href='/stylesheets/pages/menubackgrounds.scss')

//- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

block append js
    script.
        var onidenAdmin = {}

        // データ読み込み
        onidenAdmin.data = !{JSON.stringify(data)};
        console.log(onidenAdmin.data);

    script(src="/javascripts/pages_compiled/menuBackgrounds/main.js")

//- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

block templates
    include ../_includes/jsrender/menuBackgrounds/_edit
    include ../_includes/jsrender/menuBackgrounds/_list
    include ../_includes/jsrender/_modules/_recycleUploader

//- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

block content

    .pageHeader
        h1 <i class="fa fa-picture-o" aria-hidden="true"></i> メニュー背景管理
        p.description トップの左側にある空きスペースに背景画像を表示します。（※バージョン2.0で削除予定）
        +message
        +enviromentSelector

        .menu
            .button.actionOpenAddPane
                | <i class="fa fa-plus" aria-hidden="true"></i> 背景を追加する

    .pageContent

        // ----------------------------------------------------------------------

        section
            h2 メニュー背景一覧
            .dataList.enabledMenuBackgrounds

        // ----------------------------------------------------------------------

        section
            h2 無効に設定されている背景
            .dataList.disabledMenuBackgrounds

        // ----------------------------------------------------------------------

    .sideKicks

        .sidePane.editPane
