doctype html
html
    head
        title 鬼マネージャー
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/pages/login.scss')

    body
        block content
